@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap') format('truetype');
    font-size: normal;
    font-weight: normal;
}
body{
    background-color: #020B1B;
}

.buttons{
    position: absolute;
    left: 900px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.generate1{
    position: relative;
    top: 300px;
    border: solid;
    color: #64ffda;
    padding: 25px 55px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 22px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    cursor: pointer;
}

.generate2{
    position: relative;
    top: 320px; 
    border: solid;
    color: rgb(100, 255, 218);
    padding: 25px 55px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 22px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.generate1:hover{
    background-color: rgb(100, 255, 218,0.07);
}
.generate2:hover{
    background-color: rgb(100, 255, 218,0.07);
}
img{
    width: 500px;
    height: 500px;
    border : solid;
    border-color: #64ffda;
    border-width: 2px;
    border-radius: 20px;
}

.box{
    box-sizing: border-box;
    position: absolute;
    width: 500px;
    height: 500px;
    left : 150px;
    top : 100px;
    border-color: #64ffda;
    border-width: 2px;
    border-radius: 20px;
}
p{
    position: relative;
    top: -400px;
    left: 30px;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 27px;
    width: 450px;
    margin: 0;
    font-weight: 600;
    text-shadow:0px 0px 40px #34fcff75;
}
